<!DOCTYPE html>
<html ng-app="timeline">
<head>
	<meta charset="utf-8">
	<meta name='viewport' content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0" />
	<title>私人导游</title>
	<link rel="stylesheet" href="../dest/css/bootstrap.min.min.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>
<body ng-controller="myc">
<div class="page-home page-bg">
	<header class="home-head">
		<ul class="head-list row bg-black">
			<li class="col-xs-3"> <a class="menu"><img src="img/iconMenu.png" /> </a>  </li>
			<li class="col-xs-6 page-title">私人导游</li>
		</ul>
	</header>
	<div class="calendar home">
		<h3>爱私游.享自由</h3>
		<ul class="home-group">
			<li class="home-item row" ng-repeat="item in linelist" ng-cloak>
				<a href="groups.html">
					<figure class="home-figure">
						<img ng-src='{{item.imgsrc}}' />
						<p>{{item.mes}}</p>
					</figure>
				</a>
			</li>
		</ul>
		<article class="art-home">
			<p> 是不是渴望行遍大好河山，看遍千帆流水。</p><p>一个人的旅程，你还需要一个朋友为你记录快乐的时光。</p><p>一群人的狂欢，你还需要一个向导为你找到可以happy的美景。</p>
			<a href="profile.html"> 更多私游脚步 </a>
		</article>
		<h3>爱私游.找私导</h3>
		<ul class="guider-list">
			<li ng-repeat="item in tourguide" class="container">
				<h5 class="h_name">{{item.name}}</h5>
				<p class="h_money">$ {{item.money}} (小时) </p>
				<p class="h_stars">私导星级  {{item.stars}}</p>
				<p class="h_language">{{item.language}}</p>
				<p class="h_active">私游活动 {{item.active}}</p>
				<p class="h_city">主要城市 {{item.city}}</p>
				<a href="timeline.html"> 查看详细资料</a>
			</li>
		</ul>
		<article class="art-home">
			<p>天下风景美不胜收，您是不是需要找一个问您在陌生的城市之中带路的属于自己的导游呢？</p>
			<a href="profile.html">  查看其它导游  </a>
		</article>
	</div>
	<a href="http://www.webmxx.com/myweb/div/index.html" class="about-us">关于我们</a>
</div>
</footer>
<div class="page-navs page-bg">
	<header>
		<ul class="head-list row">
			<li class="col-xs-3"> <a class="close-menu"><img src="img/iconClose.png" /> </a>  </li>
			<li class="col-xs-6"></li>
			<li class="col-xs-3">  <a><img src="img/iconLogout.png" /></a>  </li>
		</ul>
		<img src="img/Avatar.png" class="img-circle img-use-img" />
	</header>
	<div class="nav-list row">
		<div class="col-xs-6">
			<a href="home.html" class="index">登陆/注册</a>
		</div>
		<div class="col-xs-6">
			<a href="calendar.html" class="calendar">私导分类</a>
		</div>
		<div class="col-xs-6">
			<a href="overview.html" class="overview">私游排行</a>
		</div>
		<div class="col-xs-6">
			<a href="groups.html" class="groups">私导目的地</a>
		</div>
		<div class="col-xs-6">
			<a href="users.html" class="users">用户行程</a>
		</div>
		<div class="col-xs-6">
			<a href="profile.html" class="profile">私导详情</a>
		</div>
		<div class="col-xs-6">
			<a href="timeline.html" class="timeline">私导排行</a>
		</div>
		<div class="col-xs-6">
			<a href="settings.html" class="settings">个人中心</a>
		</div>
	</div>
</div>


<script type="text/javascript" src="../dest/js/jquery-1.11.0.min.js" ></script>

<script>
	$(".page-navs").css("height",$(window).height())
	$(".menu").on("click",function  () {
		console.log("dd")
		$(".page-navs").show().animate({
			left:0
		},'slow')
	})
	$(".close-menu").on("click",function  () {
		$(".page-navs").animate({
			left:-600
		},function  () {
			$(".page-navs").hide()
		})
	})
</script>
<script type="text/javascript" src="js/angular.js" ></script>
<script>
	angular.module("timeline",[])
			.controller("myc",function  ($scope) {
				$scope.linelist=[
					{ imgsrc:'img/Image3.png' , mes:'巴厘岛' },
					{ imgsrc:'img/Image1.png' , mes:'佛罗伦萨' },
					{ imgsrc:'img/Image2.png', mes:'爱琴海'}
				]
				$scope.tourguide=[
					{name:"jison" , money:"60" , stars:"****",language:"中文 英文意大利语" , active : "49 " ,  city:"香港 "} ,
					{name:"金错刀" , money:"50" , stars:"***",language:"中文 日语" , active : "32 " ,  city:"海南 "}
				]
			})


</script>
</body>
</html>
